*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

/* debug */

.debug main{
  height: 1000px;
}

.debug .columns{
  background-color: #ffbb00;
}

.debug .card{
  background-color: aquamarine;
  height: 600px;
}

/* regole css */

body{
  font-family: sans-serif;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

/* header */

header{
  height: 100px;
  background-color: #FF6900;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 3px 3px rgba( 0, 0, 0, 0.3)
}

.topbar{
  display: flex;
}

.menu-col,
.logo-col,
.account-col{
  height: 100px;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
}

.topbar ul{
  list-style: none;
  display: flex;
}

.topbar ul a,
.topbar ul a:visited{
  text-decoration: none;
  color: #fff;
}

.logo-col{
  display: flex;
  justify-content: center;
}

.logo-col img{
  height: 40px;
 }
 
.menu-col a{
  padding-right: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.menu-col a:hover{
  text-decoration: underline;
}

.account-col{
  justify-content: flex-end;
}

.account-col a{
  font-size: 18px;
  padding-left: 15px;
}

.account-col i:hover{
  color: #ffbb00;
}



/* main */

main{
  padding: 150px 0 50px 0;
}

.columns{
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: calc(100% / 3);
  padding: 20px;
}

.card img{
  width: 100%;
}








footer{
  background-color: #1A1A1A;
  height: 150px;
}





/*colors:
header #FF6900 
footer #1A1A1A
price #FF0000
sos #008000

*/